.logo {
  padding: 1.5em !important;
}

span.logos > a > span {
  overflow: inherit !important;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #61dafb);
}

.nextjstext {
  position: absolute;
  bottom: 0;
  width: calc(100% - 8px);
  text-align: center;
}
